{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container" style="max-width: 85%; margin: 30px auto;">
    <div style="float: right; margin: 10px 0 0 10px;">
        
        {% if request.user.is_authenticated %}
            {% include "carrito/widget.html" %}
        {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <a href="/autenticacion/login"><strong>Login</strong></a> para ver el carrito
            </div>
            
        {% endif %}
    
    </div>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="card" style="width: 100%; margin: 10px;">
                {% if producto.imagen %}
                <img src="{{producto.imagen.url}}" alt="" class="card-img-top" style="height: 200px;">
                {% endif %}
                <div class="card-body" style="text-align: center;">
                    <h6 class="card-title">{{producto.nombre}}</h6>
                    <p class="card-text">{{producto.precio|floatformat:2}} €</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-success">Agregar al carrito</a>
                </div>
            </div>
        </div>    
        {% endfor %}
    </div>
</div>

{% endblock %}